body {
    background-color: lightgray;
    font-family: 'Calibri', sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.index-button {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: white;
    text-align: center;
    margin: 5px;
}

.morado {
    background-color: purple;
}

.verde {
    background-color: green;
}

.form-contenedor {
    width: 300px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.form-contenedor label {
    display: block;
}

.form-input {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    display: block;
}

.form-button {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
    margin: 5px;
}

.azul {
    background-color: blue;
}

.impresion {
    margin-top: 20px;
}
